{{/* Display copyright license. */}}
  
  <p class="copyright-license-footer">
    <a href="{{ i18n "license_url" }}" rel="noopener noreferrer" target="_blank">
      <span class="copyright-license-text">
        {{ i18n "license_word" }} CC BY-SA 4.0
      </span>
      <br>
      <span class="copyright-license-icons">
        <i class="fab fa-creative-commons fa-2x"></i><i class="fab fa-creative-commons-by fa-2x"></i><i class="fab fa-creative-commons-sa fa-2x"></i>
      </span>
    </a>
  </p>
